<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      主页
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      组织活动管理
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div style="margin: 30px;">

  <div>
    <nz-input-group [nzAddOnBefore]="'学号'" style="width: 200px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="orgSearch.stuId">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'组织名'" style="width: 150px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="orgSearch.orgName">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'姓名'" style="width: 170px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="orgSearch.stuName">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'职责'" style="width: 250px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="orgSearch.orgDuty">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'类型'" style="width: 300px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="orgSearch.orgClass">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'起止日期'" style="width: 300px; margin: 0 20px 20px 0" nzCompact>
      <nz-date-picker [(ngModel)]="orgSearch.orgBegin" style="width: 50%"></nz-date-picker>
      <nz-date-picker [(ngModel)]="orgSearch.orgEnd" style="width: 50%"></nz-date-picker>
    </nz-input-group>
    <i nz-icon nz-popover type="question-circle" style="margin-right: 20px" nzContent="搜索包含关键词的记录，搜索起止日期范围内的记录"></i>
    <button nz-button nzType="primary" style="margin-right: 20px" (click)="fuzzySearch()">
      <span>模糊搜索</span>
    </button>
    <button nz-button nzType="danger" (click)="resetInput()">
      <span>清空</span>
    </button>
  </div>

  <nz-table #basicTable [nzBordered]="true" [nzLoading]="_loading" [nzData]="orgs" [(nzPageSize)]="_pageSize" [nzTotal]="_total"
            [nzFrontPagination]="false" [nzTitle]="tableTitle" [(nzPageIndex)]="_current" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true"
            (nzPageIndexChange)="getPage()" (nzPageSizeChange)="getPage()" [nzShowTotal]="totalTemplate">
    <ng-template #totalTemplate let-total>
      共{{total}}条记录
    </ng-template>
    <ng-template #tableTitle>
      组织活动信息汇总
      <button nz-button style="margin-left: 20px;" nzType="primary" (click)="downloadTemplate()">下载Excel模板</button>
      <nz-upload style="margin-left: 20px;" [nzShowUploadList]="false" (nzChange)="fileChange($event)"
                 nzAction="http://120.78.223.177/rcglk/Excel/readOrg">
        <button nz-button>
          <i class="anticon anticon-upload"></i>从Excel导入经历
        </button>
      </nz-upload>
      <button nz-button style="float: right;" nzType="primary" (click)="exportExcel()">导出至Excel</button>
    </ng-template>
    <thead>
    <tr>
      <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
      <th nzCustomFilter>
        组织(活动)名称
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="输入名称以搜索..." style="width: 150px;" [(ngModel)]="orgName">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzCustomFilter>
        参与人学号
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="输入学号以搜索..." style="width: 150px;" [(ngModel)]="stuId">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzCustomFilter>
        参与人姓名
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="输入姓名以搜索..." style="width: 150px;" [(ngModel)]="stuName">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th>
        组织(活动)类别
      </th>
      <th nzCustomFilter>
        起止时间
        <!-- <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
            <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
              nz-dropdown></i>
            <div class="custom-filter-dropdown">
              <input type="text" nz-input placeholder="输入姓名以搜索..." style="width: 150px;" [(ngModel)]="stuName">
              <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
            </div>
          </nz-dropdown> -->
      </th>
      <th>职责</th>
      <th>证明文件</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
      <td>
        <a routerLink="../orgcheck/{{data.orgId}}">{{data.orgName}}</a>
      </td>
      <td>{{data.stuId}}</td>
      <td>{{data.stuName}}</td>
      <td>{{data.orgClass}}</td>
      <td>{{data.orgBegin}} 至 {{data.orgEnd}}</td>
      <td>{{data.orgDuty}}</td>
      <td><a href="{{filePath}}/{{data.file}}" target="_blank"><button nz-button nzType="primary"><i nz-icon type="search"></i></button></a></td>
    </tr>
    </tbody>
  </nz-table>
</div>
