<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      主页
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      审核
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<br>

<div>
  <nz-card nzBordered="true">
    <nz-tabset>

      <nz-tab nzTitle="未通过">

        <div *ngFor="let prize of noPassPrizeList">
          <nz-card nzType="inner"  [nzTitle]="prizeTemplate" nzBordered="true"
                   [nzActions]="" style="margin-bottom: 20px" [nzExtra]="extra">
            <div>
              未通过原因：{{prize.reason}}
            </div>
            <div style="float: right">
              处理时间：{{prize.reviewDate}}
            </div>
          </nz-card>
          <ng-template #prizeTemplate>
            {{prize.prizeName}}
            （
            {{prize.prizeLevel}}{{prize.prizeLevel2}}/
            {{prize.prizeDate}}
            ）
          </ng-template>
          <ng-template #extra>
            <a style="margin-right: 20px;" href="{{filePath}}/{{prize.prizeFile}}" target="_blank">证明文件</a>
            <a style="margin-right: 20px;" (click)="reeditPrize(prize.prizeId)">修改</a>
            <a (click)="delPrize(prize.prizeId)">删除</a>
          </ng-template>
        </div>

        <div *ngFor="let paper of noPassPaperList">
          <nz-card nzType="inner"  [nzTitle]="paperTemplate" nzBordered="true"
                   [nzActions]="" style="margin-bottom: 20px" [nzExtra]="extra">
            <div>
              <span>未通过原因：{{paper.reason}}</span>
            </div>
            <div style="float: right">
              处理时间：{{paper.reviewDate}}
            </div>
          </nz-card>
          <ng-template #paperTemplate>
            {{paper.name}}
            （
            {{paper.level}}/
            <span *ngIf="paper.authorLevel == 0">通讯作者</span>
            <span *ngIf="paper.authorLevel != 0">第{{paper.authorLevel}}作者</span>
            /{{paper.date}}
            ）
          </ng-template>
          <ng-template #extra>
            <a style="margin-right: 20px;" href="{{filePath}}/{{paper.file}}" target="_blank">证明文件</a>
            <a style="margin-right: 20px;" (click)="reeditPaper(paper.id)">修改</a>
            <a (click)="delPaper(paper.id)">删除</a>
          </ng-template>
        </div>

        <div *ngFor="let org of noPassOrgList">
          <nz-card nzType="inner"  [nzTitle]="prizeTemplate" nzBordered="true"
                   [nzActions]="" style="margin-bottom: 20px" [nzExtra]="extra">
            <div>
              未通过原因：{{org.reason}}
            </div>
            <div style="float: right">
              处理时间：{{org.reviewDate}}
            </div>
          </nz-card>
          <ng-template #prizeTemplate>
            {{org.orgName}}
            （
            {{org.orgDuty}}/
            {{org.orgClass}}/
            {{org.orgBegin}}至{{org.orgEnd}}
            ）
          </ng-template>
          <ng-template #extra>
            <a style="margin-right: 20px;" href="{{filePath}}/{{org.file}}" target="_blank">证明文件</a>
            <a style="margin-right: 20px;" (click)="reeditOrg(org.orgId)">修改</a>
            <a (click)="delOrg(org.orgId)">删除</a>
          </ng-template>
        </div>

      </nz-tab>

      <nz-tab nzTitle="审核中">

        <div *ngFor="let prize of unReviewedPrizeList">
          <nz-card nzType="inner"  [nzTitle]="prizeTemplate" nzBordered="true"
                   [nzActions]="" style="margin-bottom: 20px" [nzExtra]="extra">
            <div>
              <span>{{prize.prizeIntro}}</span>
              <br>
              <span style="float: right">提交于{{prize.submitDate}}</span>
            </div>
          </nz-card>
          <ng-template #prizeTemplate>
            {{prize.prizeName}}
            （
            {{prize.prizeLevel}}{{prize.prizeLevel2}}/
            {{prize.prizeDate}}
            ）
          </ng-template>
          <ng-template #extra>
            <a style="margin-right: 20px;" href="{{filePath}}/{{prize.prizeFile}}" target="_blank">证明文件</a>
            <a style="margin-right: 20px;" (click)="reeditPrize(prize.prizeId)">修改</a>
            <a (click)="delPrize(prize.prizeId)">删除</a>
          </ng-template>
        </div>

        <div *ngFor="let paper of unReviewedPaperList">
          <nz-card nzType="inner"  [nzTitle]="paperTemplate" nzBordered="true"
                   [nzActions]="" style="margin-bottom: 20px" [nzExtra]="extra">
            <div>
              <span style="float: right">提交于{{paper.submitDate}}</span>
            </div>
          </nz-card>
          <ng-template #paperTemplate>
            {{paper.name}}
            （
            {{paper.level}}/
            <span *ngIf="paper.authorLevel == 0">通讯作者</span>
            <span *ngIf="paper.authorLevel != 0">第{{paper.authorLevel}}作者</span>
            /{{paper.date}}
            ）
          </ng-template>
          <ng-template #extra>
            <a style="margin-right: 20px;" href="{{filePath}}/{{paper.file}}" target="_blank">证明文件</a>
            <a style="margin-right: 20px;" (click)="reeditPaper(paper.id)">修改</a>
            <a (click)="delPaper(paper.id)">删除</a>
          </ng-template>
        </div>

        <div *ngFor="let org of unReviewedOrgList">
          <nz-card nzType="inner"  [nzTitle]="prizeTemplate" nzBordered="true"
                   [nzActions]="" style="margin-bottom: 20px" [nzExtra]="extra">
            <div style="float: right">
              提交于{{org.submitDate}}
            </div>
          </nz-card>
          <ng-template #prizeTemplate>
            {{org.orgName}}
            （
            {{org.orgDuty}}/
            {{org.orgClass}}/
            {{org.orgBegin}}至{{org.orgEnd}}
            ）
          </ng-template>
          <ng-template #extra>
            <a style="margin-right: 20px;" href="{{filePath}}/{{org.file}}" target="_blank">证明文件</a>
            <a style="margin-right: 20px;" (click)="reeditOrg(org.orgId)">修改</a>
            <a (click)="delOrg(org.orgId)">删除</a>
          </ng-template>
        </div>
      </nz-tab>

    </nz-tabset>
  </nz-card>
</div>
