<div>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        主页
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        获奖信息
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        查看活动经历信息
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  
  <div style="margin: 30px;">
    <nz-table #basicTable
    [nzLoading]="_loading" 
    [nzData]="orgLists" 
    [(nzPageSize)]="_pageSize" 
    [(nzPageIndex)]="_current">
      <thead>
        <tr>
          <th>
            <span>组织(活动)名称</span>
          </th>
          <th>
            <span>组织(活动)类别</span>
          </th>
          <th>
            <span>起止时间</span>
          </th>
          <th>
            <span>职责</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td><a routerLink="../orgdetails/{{data.orgId}}">{{data.orgName}}</a></td>
          <td>{{data.orgClass}}</td>
          <td>{{data.orgBegin}} 至 {{data.orgEnd}}</td>
          <td>{{data.orgDuty}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>