<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      主页
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      论文信息
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      查看论文信息
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div style="margin: 30px;">
  <nz-table #basicTable [nzLoading]="_loading" [nzData]="paperList" [(nzPageSize)]="_pageSize" [(nzPageIndex)]="_current"
            [nzShowSizeChanger]="'true'" [nzShowQuickJumper]="'true'" (nzPageIndexChange)="getPapers()" (nzPageSizeChange)="getPapers()">
    <thead>
      <tr>
        <th>
          <span>论文题目</span>
        </th>
        <th>
          <span>作者</span>
        </th>
        <th>
          <span>身份</span>
        </th>
        <th>
          <span>发表期刊</span>
        </th>
        <th>
          <span>论文级别</span>
        </th>
        <th>
          <span>发表日期</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><a>{{data.name}}</a></td>
        <td>{{data.author}}</td>
        <td>{{data.authorLevel}}</td>
        <td>{{data.periodical}}</td>
        <td>{{data.level}}</td>
        <td>{{data.date}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
