<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      主页
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      获奖信息管理
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div style="margin: 30px;">
  <div>
    <nz-input-group [nzAddOnBefore]="'奖项名'" style="width: 200px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="prize.prizeName">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'学号'" style="width: 200px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="prize.stuId">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'姓名'" style="width: 170px; margin: 0 20px 20px 0">
      <input nz-input [(ngModel)]="prize.stuName">
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'获奖类别'" style="width: 200px; margin: 0 20px 20px 0">
      <nz-select [(ngModel)]="prize.prizeClass" style="width: 100%">
        <nz-option *ngFor="let c of filterClass" [nzLabel]="c.text" [nzValue]="c.value"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'获奖等级'" style="width: 300px; margin: 0 20px 20px 0" nzCompact>
      <nz-select [(ngModel)]="prize.prizeLevel" style="width: 50%">
        <nz-option *ngFor="let level of filterLevel" [nzLabel]="level.text" [nzValue]="level.value"></nz-option>
      </nz-select>
      <nz-select [(ngModel)]="prize.prizeLevel2" style="width: 50%">
        <nz-option *ngFor="let level2 of filterLevel2" [nzLabel]="level2.text" [nzValue]="level2.value"></nz-option>
      </nz-select>
    </nz-input-group>
    <nz-input-group [nzAddOnBefore]="'获奖日期'" style="width: 300px; margin: 0 20px 20px 0" nzCompact>
      <nz-date-picker [(ngModel)]="prize.prizeDateBegin" style="width: 50%"></nz-date-picker>
      <nz-date-picker [(ngModel)]="prize.prizeDateEnd" style="width: 50%"></nz-date-picker>
    </nz-input-group>
    <i nz-icon nz-popover type="question-circle" style="margin-right: 20px" nzContent="搜索包含完整输入字段的记录"></i>
    <button nz-button nzType="primary" style="margin-right: 20px" (click)="fuzzySearch()">
      <span>模糊搜索</span>
    </button>
    <button nz-button nzType="danger" (click)="resetInput()">
      <span>清空</span>
    </button>
  </div>


  <nz-table #basicTable [nzBordered]="true" [nzLoading]="_loading" [nzData]="prizes" [nzFrontPagination]="false"
            [nzTitle]="tableTitle" [(nzPageSize)]="_pageSize" [(nzPageIndex)]="_current" [nzTotal]="_total"
            [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" [nzShowTotal]="totalTemplate"
            (nzPageSizeChange)="getPage()" (nzPageIndexChange)="getPage()">
    <ng-template #totalTemplate let-total>
      共{{total}}条记录
    </ng-template>
    <ng-template #tableTitle>
      奖项信息汇总
      <button style="margin-left: 20px;" nz-button class="btn" [nzType]="'primary'" (click)="downloadTemplate()">
        下载Excel模板
      </button>
      <nz-upload style="margin-left: 20px;" [nzShowUploadList]="false" (nzChange)="fileChange($event)"
                 nzAction="http://120.78.223.177/rcglk/Excel/readPrize">
        <button nz-button>
          <i class="anticon anticon-upload"></i>从Excel导入奖项
        </button>
      </nz-upload>
      <button nz-button style="float: right;" nzType="primary" (click)="exportExcel()">导出至Excel</button>
    </ng-template>

    <thead>
    <tr>
      <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
      <th nzCustomFilter>
        奖项名称
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="输入名称以搜索..." style="width: 150px;" [(ngModel)]="prizeName">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzCustomFilter>
        获奖人学号
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="输入学号以搜索..." style="width: 150px;" [(ngModel)]="stuId">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzCustomFilter>
        获奖人姓名
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown>
          <i nz-icon type="smile-o" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="输入姓名以搜索..." style="width: 150px;" [(ngModel)]="stuName">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th>奖项类别</th>
      <th nzShowFilter [nzFilters]="filterLevel" (nzFilterChange)="searchLevelList=$event;search();">奖项级别</th>
      <th>奖项等级</th>
      <th nzShowFilter [nzFilters]="filterStatus" (nzFilterChange)="searchStatusList=$event;search();">审核状态</th>
      <th>提交时间</th>
      <th>审核时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
      <td>
        <a routerLink="../prizecheck/{{data.prizeId}}">{{data.prizeName}}</a>
      </td>
      <td>{{data.stuId}}</td>
      <td>{{data.stuName}}</td>
      <td>{{data.prizeClass}}</td>
      <td>{{data.prizeLevel}}</td>
      <td>{{data.prizeLevel2}}</td>
      <td>{{data.status}}</td>
      <td>{{data.submitDate}}</td>
      <td>{{data.reviewDate}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
