<nz-layout class="layout" >
  <nz-header>
    <div class="logo"></div>
    <div class="title">校园人才库系统 · 教师端</div>
    <a class="logout" (click)="logout()">退出登录</a>
  </nz-header>
  <nz-content style="padding:25px 50px 10px 50px">
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-menu-item routerLink="./user">
        <i class="anticon anticon-user"></i> 用户管理
      </li>
      <li nz-menu-item routerLink="./prize">
        <i class="anticon anticon-star"></i> 奖项管理
        <nz-badge [nzCount]="prizeBadge" class="badge-righttop"></nz-badge>
      </li>

      <li nz-menu-item routerLink="./org">
        <i class="anticon anticon-heart"></i> 组织活动管理
      </li>

      <li nz-menu-item routerLink="./essay">
        <i nz-icon type="book"></i> 论文管理
      </li>
      <li nz-menu-item routerLink="./quality">
        <i class="anticon anticon-fund"></i> 综合素质
      </li>
    </ul>
    <div style="background:#fff; padding: 24px; min-height: 400px;">
      <router-outlet (activate)="getBadge($event)"></router-outlet>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">YiLu studio ©2018 Author by WangZY</nz-footer>
</nz-layout>
