<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      主页
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      论文信息
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      添加论文信息
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="关联相同的论文：若其他作者已经提交了该论文，请勾选。" (nzOnCancel)="handleCancel()" (nzOnOk)="_submitForm()" nzWidth="700px">
  <nz-radio-group [(ngModel)]="radioValue">
    <label nz-radio [nzValue]="0" [ngStyle]="style">无相同的论文</label>
    <label nz-radio *ngFor="let p of samePaperList " [nzValue]="p.id" [ngStyle]="style">
      {{p.name}}（{{p.periodical}}/{{p.author}}/{{p.date}}）
    </label>
  </nz-radio-group>
</nz-modal>



<div nz-row class="row">
  <div nz-col [nzOffset]="5">

    <form nz-form [formGroup]="paperForm" (ngSubmit)="getSamePaper()" nzLayout="horizontal">
      <nz-form-item>
        <nz-form-label [nzRequired]="!isUpdate" [nzSpan]="4">论文题目</nz-form-label>
        <nz-form-control>
          <textarea class="form_input" formControlName="name" nz-input nzAutosize="true"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="!isUpdate" [nzSpan]="4">作者身份</nz-form-label>
        <nz-form-control>
          <nz-select class="form_input" formControlName="authorLevel" nzAllowClear>
            <nz-option *ngFor="let item of authorLevelList" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="!isUpdate" [nzSpan]="4">论文级别</nz-form-label>
        <nz-form-control>
          <nz-select class="form_input" formControlName="level" nzAllowClear >
            <nz-option *ngFor="let item of levelList" [nzLabel]="item.text" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="!isUpdate" [nzSpan]="4">发表期刊</nz-form-label>
        <nz-form-control>
          <input class="form_input" formControlName="periodical" nz-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="!isUpdate" [nzSpan]="4">发表日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="date" class="form_input"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="!isUpdate" [nzSpan]="4">证明文件</nz-form-label>
          <nz-form-control class="form_input" [nzOffset]="4">
            <nz-upload [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList" >
              <button nz-button value="upload" type="button" class="form_input">
                <i nz-icon type="upload"></i><span>上传PDF文件</span>
              </button>
            </nz-upload>
            <span>* 需要包括刊物、封面封底、目录页、论文页</span>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">说明</nz-form-label>
        <nz-form-control [nzOffset]="4" class="form_input">
          <textarea class="form_input" formControlName="intro" nz-input nzAutosize="true"></textarea>
          <span style="float: right">#还能输入{{introLengthRemain}}字</span>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="margin-bottom: 10px">
        <nz-form-control [nzOffset]="4">
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isConfirmLoading"
                  (click)="getSamePaper()"
                  class="form_button">提交</button>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzOffset]="4">
          <button nz-button [nzType]="'danger'" [nzSize]="'large'" (click)="reset()"
                  class="form_button" type="button">
            <span *ngIf="!isUpdate">清空</span>
            <span *ngIf="isUpdate">撤回修改</span>
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
