.clearfix i {
    font-size: 32px;
    color: #999;
}
.clearfix .ant-upload-text {
    margin-top: 8px;
    color: #666;
}
nz-input{
    margin: 10px 0 10px 0;
}
nz-select {
    margin: 10px 0 10px 0;
}
nz-cascader {
    margin: 10px 0 10px 0;
}
input {
    margin: 10px 0 10px 0;
}